@using AvengersMVC.Models
@model List<Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />

<style>
</style>
<div class="well">
    <div class="media">
        @foreach (Movie item in Model)
        {


            <a class="pull-left" href="#">

                <img src="~/Content/movies/@item.CoverImgUrl" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">@item.MovieName</h4>
                <p class="text-right">@item.RelaseDate.ToString("MMMM dd")</p>
                <p>
                    @item.Description
                </p>
                <a href="/Movies/Yorum/@item.Id" class="btn btn-outline-danger">Add Comment</a>

            </div>
        }
    </div>

 
    <hr>   @foreach (Comment item in ViewBag.Yorum)
    {

        <div class="row comment">
            <div class="head">
                <small><strong class='user'>@item.UserId</strong> @item.CmdDate</small>
            </div>
            <p> @item.Description</p>
        </div>

        <hr>
    }
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script>


    $(document).on('click', '#addacomment', function () {
        $('#addcomment').toggle();
    });


</script>